<footer class="final">
    <ul>
        <li class="llogo"><img src="__STATIC__/index/images/logo_v.png" width="134px" height="168px"></li>
        <li class="word1">我们希望从每个家庭餐桌上的最小单位一
            粒米开始，以线上市集的方法，让更多人
            结识友善耕耘的农夫，一步一步、一米一
            米地改善全中国的饮食生态。</li>
        <li class="word2">
            <d>相识一米市集</d>
            <d>邀约农友</d>
            <d>退换货办法</d>
            <d>常遇问题</d>
            <d>会员积分及感谢制度</d>
        </li>
        <li class="word2">
            <d>全程冷链</d>
            <d>送达范围及时段</d>
            <d>运费提示</d>
        </li>
        <li class="word2">
            <d>发票提示</d>
            <d>优惠券用法</d>
            <d>支付方式</d>
        </li>
        <li class="fwrx">
            服务热线
            <b>400-655-1212</b>
            周一至周日
            <b>8:00-21:00</b>
            微信公众号
            <img src="__STATIC__/index/images/qr.png" width="90px" height="90px">
        </li>
    </ul>
</footer>
</div>
</body>
</html>