<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一米市集 Yimishiji | 跟友善农夫，买一份诚食</title>
    <link rel="icon" href="__STATIC__/index/images/favicon.ico">
    <link type="text/css" href="__STATIC__/index/style/index.css" rel="stylesheet">

</head>
<body>
<div class="all">
    <div class="bar"></div>
    <header class="header">
        <ul class="uu">
            <li class="li1"><img src="__STATIC__/index/images/logo.png" alt="">               </li>
            <li class="li1">                <d class="d">所有商品</d>                |</li>
            <li class="li1">                <d class="d">好事发生</d>                |</li>
            <li class="li1">                <d class="d">吃的主张</d>                </li>
            <li class="li1"><input class="ss" placeholder="搜索你喜欢的" value="8424"><button class="search-button"></button></li>
            <li class="li1">          <img id="sc" src="__STATIC__/index/images/shop-car.png" alt=""></li>
            <li class="li1">   |      <img id="user" src="__STATIC__/index/images/user.png" alt=""></li>
        </ul>
    </header>