<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>https://www.yimishiji.com/passport-login.html</title>
    <link rel="icon" href="__STATIC__/index/images/favicon.ico">
    <link rel="stylesheet" href="__STATIC__/index/style/register.css">
</head>
<body>
<div class="all">
    <div class="bar"></div>
    <header class="header">
        <ul class="uu">
            <li><img src="__STATIC__/index/images/logo.png" alt="">               </li>
            <li>                <d>所有商品</d>                |</li>
            <li>                <d>好事发生</d>                |</li>
            <li>                <d>吃的主张</d>                </li>
            <li><input class="ss" placeholder="搜索你喜欢的" value="8424"><button class="search-button"></button></li>
            <li>          <img id="sc" src="__STATIC__/index/images/shop-car.png" alt=""></li>
            <li>   |      <img id="user" src="__STATIC__/index/images/user.png" alt=""></li>
        </ul>
    </header>
    <aside class="contain">
        <form class="left" action="{:url('Register/regs')}" method="post">
            <sign class="login">会 员 注 册</sign><br>
            <span class="woo">手机号    </span><input class="inp" type="text" name="mobile" placeholder=" 请填写正确手机号"><br>
            <span class="woo">密码      </span><input class="inp" type="password" name="password" placeholder=" 6-20个字符"><br>
            <span class="woo">确认密码  </span><input class="inp" type="password" name="password2" placeholder=" 再次填写密码"><br>
            <span class="woo">效验码    </span><input class="inpp" type="text" name="" placeholder=" 填写效验码"><img src="__STATIC__/index/images/xym.png"><u class="u1">看不清楚？换一个</u><br>
            <span class="woo">验证码    </span><input class="inpp" type="text" name="code" placeholder=" 填写验证码"> <button class="button2">获取短信验证码</button><br>
            <span class="woo">          <small>如未收到短信，请联络客服或拨打400-655-1212</small></span>
            <input class="woo" type="checkbox">我已阅读并同意 <u class="u2">会员注册协议</u> 和 <u class="u2">隐私保护政策</u><br>
            <button class="button1">注 册</button>
        </form>
        <div class="right">
            <img id="photo" src="__STATIC__/index/images/vegetable.jpg" >
        </div>
    </aside>
    <footer class="final">
        <ul>
            <li class="llogo"><img src="__STATIC__/index/images/logo_v.png" width="134px" height="168px"></li>
            <li class="word1">我们希望从每个家庭餐桌上的最小单位一
                粒米开始，以线上市集的方法，让更多人
                结识友善耕耘的农夫，一步一步、一米一
                米地改善全中国的饮食生态。</li>
            <li class="word2">
                <d>相识一米市集</d>
                <d>邀约农友</d>
                <d>退换货办法</d>
                <d>常遇问题</d>
                <d>会员积分及感谢制度</d>
            </li>
            <li class="word2">
                <d>全程冷链</d>
                <d>送达范围及时段</d>
                <d>运费提示</d>
            </li>
            <li class="word2">
                <d>发票提示</d>
                <d>优惠券用法</d>
                <d>支付方式</d>
            </li>
            <li class="fwrx">
                服务热线
                <b>400-655-1212</b>
                周一至周日
                <b>8:00-21:00</b>
                微信公众号
                <img src="__STATIC__/index/images/qr.png" width="90px" height="90px">
            </li>
        </ul>
    </footer>
</div>
</body>
</html>