{:widget('Blog/header')}

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        {:widget('Blog/left')}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="{:url('Index/index')}">系统</a>
                    </li>
                    <li>
                        <a href="{:url('Picture/index')}">图片列表</a>
                    </li>
                    <li class="active">管理图片</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">


                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover">
                                        <thead class="">
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">商品名称</th>
                                            <th class="text-center">缩略图</th>
                                            <th class="text-center">是否封面</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {foreach $data as $val}
                                        <tr>

                                            <td align="center">{$val.goods_id}</td>
                                            <td align="center">{$val.goods_name}</td>
                                            <td align="center"><img src="{$val.img_url}" width="120" alt=""></td>
                                            <td align="center">
                                                <a href="{:url('Picture/is_face',['id'=>$val.id,'goods_id'=>$val.goods_id])}"
                                                   class="btn btn-primary btn-sm shiny">
                                                    <i class="fa fa-refresh"></i> √/×
                                                </a>

                                            </td>

                                        </tr>
                                        {/foreach}
                                        </tbody>
                                    </table>
                                </div>
                                <div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
<script src="__STATIC__/admin/style/jquery_002.js"></script>
<script src="__STATIC__/admin/style/bootstrap.js"></script>
<script src="__STATIC__/admin/style/jquery.js"></script>
<!--Beyond Scripts-->
<script src="__STATIC__/admin/style/beyond.js"></script>


</body></html>